/* 
font-family: 'Mulish', sans-serif; 
font-family: 'Bitter', serif;
*/


body{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  background-color: rgb(228, 228, 228);
  color: rgb(43, 43, 43);
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  transition: all 1s;
}
.container h1{
  margin: 0;
  font-family: 'Bitter', serif;
  padding: 0;
}
.container span{
  font-family: 'Mulish', sans-serif; 
  font-size: 20px;
}
.container button{
  font-size: 30px;
  border: none;
  filter: opacity(0);
  width: 100vw;
  height: 100vh;
  position: absolute;
  cursor: wait;
}
.dark-mode{
  color:  rgb(228, 228, 228);
  background-color:rgb(43, 43, 43);
}
