/* 
font-family: 'Mulish', sans-serif; 
font-family: 'Bitter', serif;
*/


html body {
  margin: 0;
  padding: 0;
  background-color: rgb(46, 46, 46);
  cursor: wait;
  width: 100vw;
  height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(228, 228, 228);
  text-align: center;
  font-family: 'Mulish', sans-serif; 
  text-transform: capitalize;
}
.container h1{
  display: inline-block;
  margin: 5%;
}
.container p{
  margin: auto 20px;
}